:root {
  --primary: #ffc107;
  --secondary: #6c757d;
  --secondary-dark: #343a40;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Maven Pro", serif;
  font-size: 1.8rem;
}
h1 {
  font-size: 3rem;
    text-align: center;

}
h2 {
  font-size: 2.2em;
    text-align: center;

}
img {
  display: block;
  width: 100%;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  margin-left: 1.8rem;
  color: black;
  font-weight: 500;
  text-transform: capitalize;
}
nav {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 10;
  border-bottom: 1px solid rgb(204, 204, 204);
}
#welcome-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
span {
  color: var(--primary);
}
button {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 50px;
  outline: none;
  border: none;
  font-size: 0.7em;
  text-transform: capitalize;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-family: "Maven Pro", serif;
  background-color: rgb(168, 168, 168);
}
button:hover {
  transition: 0.3s;
  background-color: var(--primary);
}
nav a:hover {
  color: var(--primary);
  transition: 0.5s;
}
nav li:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}
/* 
@media (max-width: 800px) {
  #welcome-section {
    flex-direction: column;

  }
  nav {
font-size: .625rem;  }
  button {
    font-size: 0.9rem;
    width: 15rem;
    justify-content: space-evenly;
  }
  
  .sec {

  }
 
} */
#projects{
    text-align: center;
  padding: 10rem 2rem;
  background:#eee;
}
.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;

}
.gridesh{
  background-color: #eee;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}
